<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script language="javascript" type="text/javascript">
     $(function() {
       var conn = null;
       var name = "None";
       $('#field_name').val('').focus();
       function log(msg) {
         var control = $('#log');
         control.html(control.html() + msg + '<br/>');
         control.scrollTop(control.scrollTop() + 1000);
       }
       function log_mes(username, msg) {
         var control = $('#log');
         var finish_message = '[' + username + ']' + ': ' + msg
         control.html(control.html() + finish_message + '<br/>');
         control.scrollTop(control.scrollTop() + 1000);
       }
       function connect() {
         disconnect();
         var wsUri = (window.location.protocol=='https:'&&'wss://'||'ws://')+window.location.host+'/ws';
         conn = new WebSocket(wsUri);
         name = $('#field_name').val()
         conn.onopen = function() {
           conn.send('login '+name)
           update_ui();
         };
         conn.onmessage = function(e) {
           var data = JSON.parse(e.data);
           switch (data.action) {
             case  'connect':
               name = data.name;
               log('Connected as ' + name);
               update_ui();
               break;
             case  'disconnect':
               log('Disconnected ' + data.name);
               update_ui();
               break;
             case 'join':
               log('Joined ' + data.name);
               break;
             case 'sent':
               log_mes(data.name, data.text);
               break;
           }
         };
         conn.onclose = function() {
           log('Disconnected.');
           conn = null;
           update_ui();
         };
       }
       function disconnect() {
         if (conn != null) {
           conn.close();
           conn = null;
           name = 'None';
           update_ui();
         }
       }
       function update_ui() {
         if (conn == null) {
           $('#status').text('disconnected');
           $('#connect').prop("value", 'Login');
           $('#send').prop("disabled", true);
           $('#name').prop("hidden", true);
           $('#field_name').prop("hidden", false);
           $('#field_name').val('').focus();
         } else {
           $('#status').text('Connected');
           $('#connect').prop("value", 'Logout');
           $('#send').prop("disabled", false);
           $('#name').prop("hidden", false);
           $('#field_name').prop("hidden", true);
           $('#text').val('').focus();
         }
         $('#name').text(name);
       }
       $('#connect').on('click', function() {
         if (conn == null) {
           connect();
         } else {
           disconnect();
         }
         update_ui();
         return false;
       });
       $('#send').on('click', function() {
         var text = $('#text').val();
         conn.send(text);
         $('#text').val('').focus();
         return false;
       });
       $('#text').on('keyup', function(e) {
         if (e.keyCode === 13) {
           $('#send').click();
           return false;
         }
       });
       $('#field_name').on('keyup', function(e) {
         if (e.keyCode === 13) {
           $('#connect').click();
           return false;
         }
       });
     });
    </script>
</head>
<body>
<h3><span id="chat_version">{{version}}</span></h3>
<div>

    <div>Status: <span id="status">disconnected</span></div>
    <div>Name:<span hidden=true id="name"></span>
    <form id="loginform" onsubmit="return false;">
        <input style="width:15em" id="field_name" type="text"/>
        <input id="connect" type="button" value="Login">
    </form>
    </div>
</div>
<div id="log"
     style="width:20em;height:15em;overflow:auto;border:1px solid black">
</div>
<form id="chatform" onsubmit="return false;">
    <input id="text" type="text"/>
    <input id="send" type="button" value="Send" disabled/>
</form>
</body>
</html>
