<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container stroke container-fluid">
        <div class="navbar-brand">
            <img src="/static/images/logo.png" width="40"
                 height="40" alt="logo">
            <span>CHAT<img id="status" width=15 height=15></span>
        </div>
        <form class="navbar-brand" id="loginform" onsubmit="return false;">
            <div>Name: <span hidden=true id="name"></span>
                <input class="field_name" id="field_name" type="text"/>
                <img id="connect" width="30" height="30">
            </div>
        </form>
    </div>
</nav>
<br>
<div id="chat_viewport" class="container">
    <div class="row">
        <div class="col col-md-3 col-sm-3">
            <div class="text">Userlist:</div>
            <select class="container user_list" size=5 id="user_list"></select>
        </div>
        <div class="col col-md-9 col-sm-9">
            <div class="container">
                <div class="text">Chat:</div>
                <div class="container log" id="log"></div>
                <div class="text">Send to: <span id='target'></span></div>
                <textarea class="container text_field" id="text"></textarea>
                <input hidden=true id="send" type="button" value="Send" disabled/>
            </div>
        </div>
    </div>
</div>
</body>

</html>
