<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script language="javascript" type="text/javascript">
    $(function() {
      var conn = null;
      var login_status = false;
      var send_mode = null;
      update_ui();
      $('#field_name').val('').focus();
      function log(msg) {
        var control = $('#log');
        control.html(control.html() + msg + '<br/>');
        control.scrollTop(control.scrollTop() + 1000);
      }
      function set_send_mode() {
        var list = document.getElementById("user_list");
        index = list.options.selectedIndex;
        if (index == -1){
          index = 0;
        }
        if (index >= 0)
        {
          option = list.options[index];
          send_mode = option.value;
          $('#target').text(option.text);
        }
      }
      function connect() {
        disconnect();
        var wsUri = (window.location.protocol=='https:'&&'wss://'||'ws://')+window.location.host+'/ws';
        conn = new WebSocket(wsUri);
        var name = $('#field_name').val();
        login_status = false;
        conn.onopen = function() {
                  conn.send('login '+name);
                  update_ui();
                };
        conn.onmessage = function(e) {
          var data = JSON.parse(e.data);
          switch (data.action)
          {
            case 'response':
            log(data.message);
            if (login_status == false){
              if (data.message.indexOf('login to chat')>0){
                login_status = true;
              }
            }
            if (login_status == true){
            conn.send('/userlist');
            update_ui();
            }
            break;
            case 'list':
            $('#user_list').empty();
            $('#user_list').append($('<option>',
            {
              value: 'msgall ',
              text: 'All'
            }));
            $('#user_list').append($('<option>',
            {
              value: '',
              text: 'Clear data'
            }));
            for (i in data.message)
            {
              $('#user_list').append($('<option>',
              {
                value: 'msg '+data.message[i]+' ',
                text: data.message[i]
              }));
            }
            if (send_mode == null){
              set_send_mode();
            }
            break;
          }
        };
        conn.onclose = function() {
          log('Disconnected.');
          conn = null;
          login_status = false;
          update_ui();
        };
      }
      function disconnect() {
        if (login_status == true) {
          conn.send('logout');
          update_ui();
        }
      }
      function update_ui() {
        if (login_status == false) {
          $('#status').prop("src", 'http://3d-zambia.chordsrt.com/assets/button_red_50-0e9cba6bd7edd35e3a03f351748610225ed9c3d6208b6a705973d314014fe8da.png');
          $('#connect').prop("src", 'http://mebeldes.nashko.ru/sites/default/files/images/disign/possible/all-on_0.png');
          $('#send').prop("disabled", true);
          $('#name').prop("hidden", true);
          $('#field_name').prop("hidden", false);
          $('#field_name').val(name).focus();
        } else {
          $('#status').prop("src", 'http://www.clker.com/cliparts/4/t/n/Q/b/d/green-glossy-icon-th.png');
          $('#connect').prop("src", 'https://kusnendiblog.files.wordpress.com/2010/11/shutdown-48.png');
          $('#send').prop("disabled", false);
          $('#name').prop("hidden", false);
          $('#field_name').prop("hidden", true);
          $('#text').val('').focus();
        }
        $('#name').text(name);
      };
      $('#connect').on('click', function() {
        if (conn == null) {
          connect();
        } else {
          disconnect();
        }
        if (login_status == false){
          name = $('#field_name').val();
          conn.send('login '+name);
        }
        update_ui();
        return false;
      });
      $('#field_name').on('keyup', function(e) {
        if (e.keyCode === 13) {
          $('#connect').click();
          return false;
        }
      });
      // Login end
      // Send start
      $('#send').on('click', function() {
        var text = $('#text').val();
        conn.send(send_mode+text);
        $('#text').val('').focus();
        return false;
      });
      $('#text').on('keydown', function( e ) {
  if( e.keyCode === 13 ) {
    e.preventDefault();
    whenEnterPressed();
  }
});
      $('#text').on('keyup', function(e) {
        if (e.keyCode === 13) {
          $('#send').click();
          return false;
        }
      });
     // Send end
      $('#user_list').on('dblclick', function() {
          set_send_mode();
        return false;
      });
    });
   </script>
</head>
<body>
<h3><img id="status" width=15 height=15> <span id="chat_version">{{version}}</span></h3>
<form id="loginform" onsubmit="return false;">
      <div>Name: <span hidden=true id="name"></span>
        <input style="width:10em" id="field_name" type="text"/>
        <img id="connect" width="30" height="30">
      </div>
</form>
<br>
<div>Userlist:</div>
<select size=5 style="width:25em" id="user_list"></select>
<br>
Chat:
<div id="log"
     style="width:20em;height:15em;overflow:auto;border:3px double gray">
</div>
    <div>Send to: <span id='target'></span></div>
    <textarea id="text" style="width:20em; height:3em"></textarea>
    <input id="send" type="button" value="Send" disabled/>
</body>
</html>
